.underlineAnchor {
    text-decoration: underline !important;
    color: #172B4D;
    font-size:10px;
}

.tb-txt {
    color: #172B4D !important;
    font-family: "GothamBook", sans-serif !important;
    font-size: 10px !important;
}

.ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}